langchain==1.2.13
langchain-community==0.4.1
langchain-core==1.2.22
langchain-text-splitters==1.1.1
langchain-groq==1.1.2
langchain-chroma==1.1.0
langchain-ollama==1.0.1
chromadb==1.5.5
flashrank==0.2.10
pypdf==6.9.2
pdf2image==1.16.3
tiktoken==0.12.0
python-dotenv==1.2.2
pydantic==2.12.5
requests==2.33.0
typing-extensions==4.15.0